*{
    background-color: #F3F5FC;

}

.html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.lienzo{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;

}
.zona{

    margin: auto;
    margin: 40px;
    background-color: #F3F5FC;
    display: flex;
    gap: 80px
    


}


.logo_encriptador_alura{
    width: 120px;
    height: 48px;
    background-color: #F3F5FC;
}

.seccion__ingreso__texto{
    display: flex;
    flex-direction: column;

}

.zona_ingreso_texto{
    margin: auto;
    border: 0px;
    margin-top: 128px;
    text-align: left;

}

.input_texto_requerido{
    margin: auto;
    padding: 0px;
    width: 577px;
    height: 48px;
    border: 0px solid transparent;
    font-size: 32px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #0A3871;
}

.input_texto_requerido::placeholder{
    font-size: 32px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #0A3871;
}

.zona_ayuda_texto{
    margin: auto;
    margin-top: 635px;
    margin-bottom: 0;
    display: flex;
}

.exclamacion_ayuda{
    margin-right: 6px;
    width: 16px;
    height: 16px;
}

.ayuda_llenado_encriptador{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #495057;

}

.botones{
    margin: auto;
    display: flex;
    gap: 24px;
    margin-top: 16px;

}


.boton_encriptar{
    margin: auto;
    margin-right: 0;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px inset;
    background-color: #0A3871;
    color: white;
    border-color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    outline: none;
    box-shadow: none;
    border-style: solid;
}

.boton_desencriptar{
    margin: auto;
    margin-left: 0;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px inset;
    background-color: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    outline: none;
    box-shadow: none;
    border-style: solid;
}

.zona_salida_texto{
    margin: auto;
    width: 400px;
    height: 944px;
    background-color: white;
    border-radius: 32px;



}

.palabra_codificada{
    margin: auto;
    margin: 32px;
    margin-bottom: 0px;
    padding: 0px;
    width: 336px;
    height: 781px;
    background-color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #495057;
    border: 0px solid transparent;

}


.logo_muneco{
    margin: auto;
    margin-top: 243px;
    margin-left: 32px;
    margin-right: 32px;
    background-color: white;
}

.btn__copiar{
    margin:auto;
    padding: 0px;
    margin-top: 30px;
    margin-left: 32px;
    margin-right: 32px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px inset;
    background-color: white;
    color: #0A3871;
    border-color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    outline: none;
    box-shadow: none;
    border-style: solid;
}

.titulo_respuesta{
    margin: auto;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    background-color: white;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #343A40;
}

.titulo_respuesta_ayuda{
    margin: auto;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
    background-color: white;
    color: #495057;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.letras__footer{
    background-color: #0A3871;
}

@media (max-width:768px){
    
    

}