*{
    background-color: #F3F5FC;

}

.html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.lienzo{
    margin:auto;
    margin: 0px;
    display: flex;
    flex-direction:column;
    justify-content: left;
    text-align: left;

}

.zona{
    margin:auto;
    margin: 40px;
    
}

.container__zona__encriptacion{
    margin: auto;
    margin-left:200px;
    margin-right: 40px;
    background-color: #F3F5FC;
    display: flex;
    flex-direction:row;
    justify-content:left;
}


.logo_encriptador_alura{
    width: 120px;
    height: 48px;
    background-color: #F3F5FC;
}

.seccion__ingreso__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.zona_ingreso_texto{

    margin: 0px;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    

}

.input_texto_requerido{
    margin: auto;
    margin-top: 128px;
    margin-left: 0px;
    padding: 0px;
    width: 656px;
    height: 48px;
    border: 0px solid transparent;
    font-size: 32px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #0A3871;
}

.input_texto_requerido::placeholder{
    font-size: 32px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #0A3871;
}

.zona_ayuda_texto{
    margin: auto;
    margin-top: 635px;
    margin-bottom: 0;
    margin-left: 0%;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;

}

.exclamacion_ayuda{
    margin-right: 6px;
    width: 16px;
    height: 16px;
}

.ayuda_llenado_encriptador{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #495057;

}

.botones{
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 3.6%;
    margin-top: 16px;

}


.boton_encriptar{
    margin: auto;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px inset;
    background-color: #0A3871;
    color: white;
    border-color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    outline: none;
    box-shadow: none;
    border-style: solid;
}

.boton_desencriptar{
    margin: auto;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px inset;
    background-color: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    outline: none;
    box-shadow: none;
    border-style: solid;
}

.seccion__salida__texto{
    margin: auto;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}


.zona_salida_texto{
    margin: auto;
    width: 400px;
    height: 944px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.palabra_codificada{
    margin: auto;
    margin: 32px;
    margin-bottom: 0px;
    padding: 0px;
    width: 336px;
    height: 781px;
    background-color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #495057;
    border: 0px solid transparent;
    

}


.logo_muneco{
    margin: auto;
    margin-top: 243px;
    margin-left: 32px;
    margin-right: 32px;
    background-color: white;
}

.btn__copiar{
    margin:auto;
    padding: 0px;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px inset;
    background-color: white;
    color: #0A3871;
    border-color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    outline: none;
    box-shadow: none;
    border-style: solid;
}

.titulo_respuesta{
    margin: auto;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    background-color: white;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #343A40;
}

.titulo_respuesta_ayuda{
    margin: auto;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
    background-color: white;
    color: #495057;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.letras__footer{
    background-color: #0A3871;
}

@media (max-width:1400px){
    .lienzo{
        height: 100%;
        width: 100%;
    }
    .zona{
        margin:auto;
        margin:7%;
    }

    .container__zona__encriptacion{
        margin: auto;
        display: flex;
        flex-direction:column;
        justify-content:center;
    }
    
    .seccion__ingreso__texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    
    }

    .zona_ingreso_texto{
        margin: auto;
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .input_texto_requerido{
        margin: auto;
        height: 288px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .zona_ayuda_texto{
        margin-top: 25%;
        margin-left:6%;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: left;
    
    }

    .seccion__salida__texto{
        margin: auto;
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;  
        width: 100%;
        height: 100%;
    }

    .zona_salida_texto{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    .logo_muneco{
        display:none
    }

    .palabra_codificada{
        margin: auto;
        margin: 5%;
        width: 90%;
        height: 180px;
    }

    .titulo_respuesta{
        margin:auto;
        margin: 3%;
    }

    .titulo_respuesta_ayuda{
        margin:auto;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .btn__copiar{   
        margin: auto;
        margin-bottom: 5%;
        width: 90%;
    }
}    


@media (max-width:740px){
    .lienzo{
        height: 100%;
        width: 100%;
    }
    
    .zona{
        margin:auto;
        margin:5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .botones{
        margin: auto;
        margin:0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2.4%;
    }
    
    .boton_desencriptar{
        margin-top: 5%;
    }

   .container__zona__encriptacion{
        margin: auto;
        margin: 0%;
        display: flex;
        flex-direction:column;
        justify-content:center;
   }

   .zona_ingreso_texto{
        margin: auto;
        margin:0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

   }

   .input_texto_requerido{
        margin: auto;
        margin-top: 20%;
        width: 100%;
        height: 150px;

    
}
}


